@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background-primary: hsl(35 30% 95%);
  --color-foreground: hsl(25 20% 12%);
  --color-text-primary: hsl(25 20% 12%);
  --color-text-secondary: hsl(23 13% 32%);
  --color-spiritblue: hsl(235 55% 32%);
  --color-spiritred: hsl(0 60% 38%);
  --color-spirityellow: hsl(38 70% 52%);
  --color-spiritwhite: hsl(40 20% 96%);
  --color-spiritblack: hsl(0 0% 8%);
  --font-display: "Lora", serif;
  --font-body: "Work Sans", sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
  body {
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display);
    color: var(--color-text-primary);
  }

  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1rem;
    font-weight: 400;
  }
  p {
    margin-bottom: 1rem;
  }
}

* {
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
  width: 100%;
}

html,
.root {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  min-width: 320px;
  color: var(--color-text-secondary);
  font-family: var(--font-body);
}

.logo {
  font-family: "Ojuju", sans-serif;
  font-weight: 700;
  color: var(--color-spiritblue);
}

.nav-link a:hover,
.nav-link a:active {
  text-decoration: underline;
  text-decoration-color: var(--color-spiritblue);
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}
